@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@800;900&display=swap');

.CardLancamento {
    margin: 15px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    width:45%;
    align-self: center;
}

.wrapper {
    text-align: center;
    display: flex;
    margin-bottom: 44px;
    margin-top: 20px;
    flex-direction: column;
}

.card-descricao {
    text-decoration: none;
    font-family: Alegreya, sans-serif;
    font-weight: 550;
    color: var(--endbar-color);
    font-size: 25px;
    font-weight: 700;
    opacity: .8;
    margin-top: 15px;
}

.card-artista {
    text-decoration: none;
    font-family: Alegreya, sans-serif;
    font-weight: 550;
    color: var(--link-color);
    font-weight: 700;
    background-color: var(--endbar-color);
    opacity: .85;
    border-radius: 15px;
    padding: 5px;
}


.card-descricao:hover {
    color:var(--endbar-color);
    opacity: 1;
}

.card-artista:hover {
    color: var(--link-color);
    opacity: 1;
}
.imagem {
    border-radius: 15px;
}