@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@800;900&display=swap');


.Subheader {
    background-color: var(--header-color);
    display: flex;
    padding: 10px ;
    justify-content: space-evenly;
}

.nav-link{
    text-decoration: none;
    font-size: 24px;
    color: var(--link-color);
    margin-left: -50%;
    font-family: Alegreya, sans-serif;
    font-weight: 550;
    opacity: .75;
}

.nav-link.active {
    color: var(--link-color);
    border-bottom: solid 2px var(--link-color);
    opacity: 1;
}

.nav-link:hover{
    color: var(--link-color);
    opacity: 1;
}

