@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.Header {
    background-color: var(--header-color);
    display: flex;
    padding: 5px ;
    opacity: 95%;
    justify-content: space-around;
  }

.Header form {
  display: flex;  
}

  .busca {
    border-radius: 12px;
    padding-right: 650px;
    border:0;
    padding-left:20px;
  }

  .search-icon {
    font-family: Material Icons;
    font-size:20px;
    border: solid var(--link-destak-color);
    border-radius: 12px;
    margin-left: 5px;
    color: var(--link-color);
    background-color: var(--link-destak-color);
    font-weight: 850;
    opacity: .8;
    margin-left: -42.7px;
    cursor: pointer;
  }

  .search-icon:hover {
    opacity: 1;
  }
  